header{
    margin-bottom: 6rem;
}
.btn:disabled{
    background-color: #b39ddb !important;
    color: white !important;
}

.capitalized{
    text-transform:capitalize !important;
}

.rounded{
    border-radius: 1.3rem;
}
#navLogo{
    position: absolute;
    bottom: 0;
}
#cardsContainer{
    padding-top: 1.5rem;
}

#inpPokeSearch:focus{
    background-color: #9575cd;
}

#btnUp{position: fixed;}